<!DOCTYPE html>
<html ng-app="demoapp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <script type="text/javascript" src="test.js"></script>

</head>
<body ng-controller="BasicFirstController">
<ion-view view-title="Map">
  <ion-content class="padding">
    <p>Click the button to return the value of its value attribute.</p>

    <button id="myBtn" value="myvalue" ng-click="myFunction()">Try it</button>

    <p id="demo"></p>
    <leaflet width="100%" height="480px"></leaflet>
        <h1>First steps, basic example</h1>
  </ion-content>
</ion-view>
</body>
</html>
