<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <script type="text/javascript" src="test.js"></script>

</head>
<body>

<ion-view view-title="Map">
  <ion-content class="padding">
    <p>Click the button to return the value of its value attribute.</p>

    <button id="myBtn" value="myvalue" ng-click="myFunction()">Try it</button>

    <p id="demo"></p>

  </ion-content>
</ion-view>




</body>
</html>
